In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df_recipes = pd.read_csv('/Users/arthurassis/Documents/CCT - Data Analytics for Business/Machine Learning/Semester 2/CA02-MachineLearning:DataVisualisation-Semester 2/archive/RAW_recipes.csv')

# Building a content based recommendation system

In [3]:
df_recipes.head()

,name,id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8

In [4]:
df_recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231637 entries, 0 to 231636
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            231636 non-null  object
 1   id              231637 non-null  int64
 2   minutes         231637 non-null  int64
 3   contributor_id  231637 non-null  int64
 4   submitted       231637 non-null  object
 5   tags            231637 non-null  object
 6   nutrition       231637 non-null  object
 7   n_steps         231637 non-null  int64
 8   steps           231637 non-null  object
 9   description     226658 non-null  object
 10  ingredients     231637 non-null  object
 11  n_ingredients   231637 non-null  int64
dtypes: int64(5), object(7)
memory usage: 21.2+ MB

In [5]:
df_users = pd.read_csv('/Users/arthurassis/Documents/CCT - Data Analytics for Business/Machine Learning/Semester 2/CA02-MachineLearning:DataVisualisation-Semester 2/archive/RAW_interactions.csv')

In [6]:
df_users.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [7]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1132367 entries, 0 to 1132366
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1132367 non-null  int64
 1   recipe_id  1132367 non-null  int64
 2   date       1132367 non-null  object
 3   rating     1132367 non-null  int64
 4   review     1132198 non-null  object
dtypes: int64(3), object(2)
memory usage: 43.2+ MB

In [8]:
recipe_rating = df_users.groupby(by = 'recipe_id')['rating'].mean()

In [9]:
recipe_rating

recipe_id
38        4.250000
39        3.000000
40        4.333333
41        4.500000
43        1.000000
            ...
537459    5.000000
537485    5.000000
537543    0.000000
537671    0.000000
537716    5.000000
Name: rating, Length: 231637, dtype: float64

In [10]:
recipe_count = df_users.groupby(by = 'recipe_id').size()

In [11]:
recipe_count.sort_values(ascending=False)

recipe_id
2886      1613
27208     1601
89204     1579
39087     1448
67256     1322
          ...
307214       1
176578       1
176579       1
176581       1
537716       1
Length: 231637, dtype: int64

In [12]:
recipe_count = recipe_count.reset_index()

In [13]:
df_recipes.rename(columns = {'id':'recipe_id'}, inplace = True)

In [14]:
df_recipes = pd.merge(df_recipes, recipe_rating, on='recipe_id',
                      how='left')

In [15]:
df_recipes = pd.merge(df_recipes, recipe_count, on='recipe_id', how = 'left')

In [16]:
df_recipes.rename(columns = {0:'reviews_count'}, inplace = True)

In [17]:
df_recipes.head()

,name,recipe_id,minutes,contributor_id,submitted,tags,nutrition,n_steps,steps,description,ingredients,n_ingredients,rating,reviews_count
0,arriba baked winter squash mexican style,137739,55,47892,2005-09-16,"['60-minutes-or-less', 'time-to-make', 'course...","[51.5, 0.0, 13.0, 0.0, 2.0, 0.0, 4.0]",11,"['make a choice and proceed with recipe', 'dep...",autumn is my favorite time of year to cook! th...,"['winter squash', 'mexican seasoning', 'mixed ...",7,5.0,3
1,a bit different breakfast pizza,31490,30,26278,2002-06-17,"['30-minutes-or-less', 'time-to-make', 'course...","[173.4, 18.0, 0.0, 17.0, 22.0, 35.0, 1.0]",9,"['preheat oven to 425 degrees f', 'press dough...",this recipe calls for the crust to be prebaked...,"['prepared pizza crust', 'sausage patty', 'egg...",6,3.5,4
2,all in the kitchen chili,112140,130,196586,2005-02-25,"['time-to-make', 'course', 'preparation', 'mai...","[269.8, 22.0, 32.0, 48.0, 39.0, 27.0, 5.0]",6,"['brown ground beef in large pot', 'add choppe...",this modified version of 'mom's' chili was a h...,"['ground beef', 'yellow onions', 'diced tomato...",13,4.0,1
3,alouette potatoes,59389,45,68585,2003-04-14,"['60-minutes-or-less', 'time-to-make', 'course...","[368.1, 17.0, 10.0, 2.0, 14.0, 8.0, 20.0]",11,['place potatoes in a large pot of lightly sal...,"this is a super easy, great tasting, make ahea...","['spreadable cheese with garlic and herbs', 'n...",11,4.5,2
4,amish tomato ketchup for canning,44061,190,41706,2002-10-25,"['weeknight', 'time-to-make', 'course', 'main-...","[352.9, 1.0, 337.0, 23.0, 3.0, 0.0, 28.0]",5,['mix all ingredients& boil for 2 1 / 2 hours ...,my dh's amish mother raised him on this recipe...,"['tomato juice', 'apple cider vinegar', 'sugar...",8,5.0,1

In [18]:
most_100000_reviews = 50000

In [19]:
df_recipes = df_recipes.nlargest(most_100000_reviews, 'reviews_count').reset_index()

In [20]:
df_recipes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           50000 non-null  int64
 1   name            50000 non-null  object
 2   recipe_id       50000 non-null  int64
 3   minutes         50000 non-null  int64
 4   contributor_id  50000 non-null  int64
 5   submitted       50000 non-null  object
 6   tags            50000 non-null  object
 7   nutrition       50000 non-null  object
 8   n_steps         50000 non-null  int64
 9   steps           50000 non-null  object
 10  description     48908 non-null  object
 11  ingredients     50000 non-null  object
 12  n_ingredients   50000 non-null  int64
 13  rating          50000 non-null  float64
 14  reviews_count   50000 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 5.7+ MB

In [21]:
rating_average = df_recipes['rating'].mean()
print(rating_average)

4.448140702863206

In [22]:
df_recipes.drop(columns = 'submitted', inplace = True)

In [23]:
df_recipes.description.head(10)

0    you'll never need another banana bread recipe ...
1    amazing flavor, and so simple! no salt needed ...
2    i love this crock-pot chicken recipe for two r...
3    n'awlin's style of chicken with an updated alf...
4    this is one of (if not) the best banana cake i...
5    absolutely delicious meatloaf and sauce! those...
6    my kids will give up a steak dinner for this s...
7    these are absolutely the chewiest, moistest, f...
8    cooking the meatballs in simmering pasta sauce...
9    we have a japanese girl, tomoko, living with u...
Name: description, dtype: object

In [24]:
print(df_recipes.tags[0])

['time-to-make', 'course', 'main-ingredient', 'cuisine', 'preparation', 'north-american', 'breads', 'fruit', 'american', 'oven', 'dietary', 'quick-breads', 'equipment', '4-hours-or-less']

In [25]:
features = ['tags','ingredients']

In [26]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

for feature in features:
    df_recipes[feature] = df_recipes[feature].apply(literal_eval)

In [27]:
def get_first_five(x):
    return x[:5]

In [28]:
df_recipes['tags'] = df_recipes['tags'].apply(get_first_five)

In [29]:
#for feature in features:     
#    df_recipes[features] = df_recipes[features].apply(get_first_five)

In [30]:
print(df_recipes['tags'][3])

['30-minutes-or-less', 'time-to-make', 'course', 'main-ingredient', 'cuisine']

In [31]:
print(df_recipes['ingredients'][3])

['boneless skinless chicken breast halves', 'linguine', 'cajun seasoning', 'butter', 'green onion', 'heavy whipping cream', 'sun-dried tomatoes', 'salt', 'dried basil', 'ground black pepper', 'garlic powder', 'parmesan cheese']

In [32]:
df_recipes[['tags', 'nutrition', 'ingredients']].head()

,tags,nutrition,ingredients
0,"[time-to-make, course, main-ingredient, cuisin...","[272.8, 16.0, 97.0, 14.0, 7.0, 31.0, 14.0]","[butter, granulated sugar, eggs, bananas, all-..."
1,"[weeknight, time-to-make, course, main-ingredi...","[295.2, 14.0, 0.0, 15.0, 99.0, 19.0, 0.0]","[beef roast, brown gravy mix, dried italian sa..."
2,"[time-to-make, course, main-ingredient, prepar...","[679.2, 53.0, 39.0, 38.0, 91.0, 75.0, 16.0]","[boneless chicken breasts, black beans, corn, ..."
3,"[30-minutes-or-less, time-to-make, course, mai...","[719.1, 63.0, 12.0, 34.0, 78.0, 120.0, 15.0]","[boneless skinless chicken breast halves, ling..."
4,"[weeknight, time-to-make, course, main-ingredi...","[503.5, 31.0, 222.0, 15.0, 11.0, 61.0, 25.0]","[bananas, lemon juice, flour, baking soda, sal..."

In [33]:
def create_soup(x):
    return ' '.join(x['tags']) + ' ' + x['nutrition'] + ' ' + ' '.join(x['ingredients'])

In [34]:
# Create a new soup feature
df_recipes['soup'] = df_recipes.apply(create_soup, axis=1)

In [35]:
df_recipes['soup'].head()

0    time-to-make course main-ingredient cuisine pr...
1    weeknight time-to-make course main-ingredient ...
2    time-to-make course main-ingredient preparatio...
3    30-minutes-or-less time-to-make course main-in...
4    weeknight time-to-make course main-ingredient ...
Name: soup, dtype: object

In [36]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df_recipes['soup'])

In [37]:
count_matrix.shape

(50000, 5882)

In [40]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix[:40000], count_matrix[:40000])

In [46]:
# Reset index of your main DataFrame and construct reverse mapping as before
indices = pd.Series(df_recipes.index, index=df_recipes['name'])

In [54]:
print(indices[:25])

name
best banana bread                                              0
to die for crock pot roast                                     1
crock pot chicken with black beans   cream cheese              2
creamy cajun chicken pasta                                     3
best ever banana cake with cream cheese frosting               4
yes  virginia there is a great meatloaf                        5
jo mama s world famous spaghetti                               6
whatever floats your boat  brownies                            7
kittencal s italian melt in your mouth meatballs               8
japanese mum s chicken                                         9
creamy burrito casserole                                      10
kittencal s moist cheddar garlic oven fried chicken breast    11
banana banana bread                                           12
oven fried chicken chimichangas                               13
fannie farmer s classic baked macaroni   cheese               14
southern buttermilk biscuits                                  15
the best easy beef and broccoli stir fry                      16
delicious chicken pot pie                                     17
simply sour cream chicken enchiladas                          18
crock pot whole chicken                                       19
my family s favorite sloppy joes  pizza joes                  20
panera s cream cheese potato soup                             21
soft snickerdoodle cookies                                    22
beth s melt in your mouth barbecue ribs  oven                 23
pete s scratch pancakes                                       24
dtype: int64

In [91]:
indices['banana banana bread']

12

In [92]:
cosine_sim[12]

array([0.62718151, 0.25594535, 0.26673253, ..., 0.31118796, 0.223957  ,
       0.33296358])

In [94]:
cosine_sim.shape

(40000, 40000)

In [95]:
# Function that takes in Recipe name as input and outputs most similar recipes
def get_recommendations(name, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[name]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the recipes based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar recipes
    sim_scores = sim_scores[1:11]

    # Get the recipes id
    recipes_id = [i[0] for i in sim_scores]

    # Return the top 10 most similar recipes
    return df_recipes['name'].iloc[recipes_id]

In [96]:
get_recommendations('japanese mum s chicken')

9225                 sticky chicken drumsticks
2773                 chicken drumsticks pierre
21967               caramelised chilli chicken
14141                  japanese crispy chicken
2027     teriyaki chicken drumsticks  teriyaki
21540                asian marinated cucumbers
27036               italian chicken drumsticks
35121              alton brown s buffalo wings
33684                           s more chicken
39006                joe s general tso chicken
Name: name, dtype: object

# Creating a Collaborative Filtering

In [97]:
df_users.head()

,user_id,recipe_id,date,rating,review
0,38094,40893,2003-02-17,4,Great with a salad. Cooked on top of stove for...
1,1293707,40893,2011-12-21,5,"So simple, so delicious! Great for chilly fall..."
2,8937,44394,2002-12-01,4,This worked very well and is EASY. I used not...
3,126440,85009,2010-02-27,5,I made the Mexican topping and took it to bunk...
4,57222,85009,2011-10-01,5,"Made the cheddar bacon topping, adding a sprin..."

In [98]:
df_users.drop(columns = 'date', inplace = True)